@model SliderModel
@{
    ViewData["Title"] = "Editar Noticias";
}

<section id="top">
    <partial name="_Nav" />
    <div class="inner-page-banner">
        <div class="container">
        </div>
    </div>
    <div class="inner-information-text">
        <div class="container">
            <h3><i class="fa fa-user"></i> Administrador</h3>
            <ul class="breadcrumb">
                <li><a href="index.html">Slider</a></li>
                <li class="active">Editar Slider</li>
            </ul>
        </div>
    </div>
</section>

<section id="contant" class="contant main-heading team">
    <div class="row">
        <div class="container">
            <form asp-controller="Home" asp-action="EditarSlider" id="myForm" role="form" method="post" accept-charset="utf-8" enctype="multipart/form-data" style="text-align: left;padding: 15px;">

                <div class="col-md-4" >
                    <aside id="sidebar" class="right-bar">
                        <h3>Imagen</h3>
                        <div class="banner">
                            @if (Model.FotoUrl != null)
                            {
                                <img class="img-responsive" src="@Url.Content("~/images/slider/"+ Model.FotoUrl)" alt="@Model .Titulo">
                            }
                            else
                            {
                                <img class="img-responsive" src="@Url.Content("~/images/noticias_default.jpg")" alt="Slider">
                            }
                        </div>

                    </aside>
                </div>
                <div class="col-md-8">
                    <div class="feature-post small-blog">

                        <div class="feature-cont" style="padding:15px">



                            <div class="form-group">
                                <label>Cambiar Imagen</label>
                                <input type="file" name="ImageFile" id="ImageFile" class=""  />
                                <small id="emailHelp" class="form-text text-muted">Seleccione el archivo de Imagen.</small>



                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:15px">
                    <div class="feature-post small-blog" style="padding:15px">
                        <div class="feature-img">
                            <h1> Editar Contenido del Slider</h1>
                        </div>
                        <div class="feature-cont">

                            @*<div class="form-group">
                        @if (Model.Activo == Model.Id)
                        {
                            <label>Imagem</label>
                        }
                        else
                        {
                            <label>Imagem</label> <span class="badge">Principal</span>

                        }

                        @Html.TextBoxFor(m => m.FotoUrl, new { @class = "form-control", @required = "required", @placeholder = "Ejem. Campeones apertura 2020" })

                        <small id="emailHelp" class="form-text text-muted">Ingrese el Titulo de la nueva Noticia</small>
                    </div>*@
                            @if (Model.Clase == "active")
                            {
                                <div class="form-group">
                                    <label>Slider Principal</label><br />
                                    <label> <span class="btn btn-success">Activo</span></label><br />
                                    @*<input class="form-control" name="Clase" id="Clase" type="text" placeholder="Readonly input here…" readonly>*@
                                    @*@Html.TextBoxFor(m => m.Clase, new { @class = "form-control", @placeholder = "active" })*@
                                    <small id="emailHelp" class="form-text text-muted">Este eslider solo puede ser Editado pero no eliminado.</small>
                                </div>

                            }
                            else
                            {
                                @*<div class="form-group">
                            <label>Ingrese la Clase "active"</label>
                            <input class="form-control" name="Clase" id="Clase" type="text" placeholder="Readonly input here…" readonly>
                            <small id="emailHelp" class="form-text text-muted">Solo si es el primer slider en mostrar.</small>
                        </div>*@
                            }

                            <div class="form-group">
                                <label>Titulo</label>
                                @Html.TextAreaFor(m => m.Titulo, new { @class = "form-control", @rows = "4", @placeholder = "Ejem. Con goles de la estrella del equipo ganaron..." })
                                @*<textarea type="" class="form-control" id="TextoCorto" name="TextoCorto" placeholder="Ejem. Con goles de la estrella del equipo ganaron..." rows="4" maxlength="200" required></textarea>*@
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Titulo del slider Max 100 caracteres.</small>
                            </div>
                            <div class="form-group">
                                <label>Texto Descriptivo</label>
                                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @required = "required", @rows = "8", @placeholder = "Ejem. Con goles de la estrella del equipo ganaron..." })
                                @*<textarea type="" class="form-control" id="Texto " name="Texto" placeholder="Ejem. Con goles de la estrella del equipo ganaron..." rows="8" required></textarea>*@
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Texto completo de la Noticia</small>
                            </div>
                            <div class="form-group">
                                <label>Id Noticia</label>
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })*@
                                @Html.TextBoxFor(m => m.Id_Titular, new { @class = "form-control", @placeholder = "Ejem. David Medina." })
                                @*<input type="text" class="form-control" id="Autor " name="Autor" placeholder="Ejem. David Medina." required>*@
                                <small id="emailHelp" class="form-text text-muted">Ingrese Id de la noticia o evento relacionado</small>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                            <a href="@Url.Action("ListaSlider","Administrador")" class="btn " style="margin-left:15px;"><i class="fa fa-close"></i> Cancelar</a>
                            @Html.TextBox("Id", Model.Id, new { @style = "visibility:hidden; float:right" })
                            @Html.TextBox("Clase", Model.Clase, new { @style = "visibility:hidden; float:right" })
                            @Html.TextBox("FotoUrl", Model.FotoUrl, new { @style = "visibility:hidden; float:right" })




                        </div>
                    </div>
                </div>

            </form>

        </div>




            </div>
</section>

