@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "ListaNoticias";
    DateTime fecha = DateTime.Now;
}
@section Head {
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
}
<section id="top">
    <partial name="_Nav" />
    <div class="inner-page-banner">
        <div class="container">
        </div>
    </div>
    <div class="inner-information-text">
        <div class="container">
            <h3><i class="fa fa-user"></i> Administrador</h3>
            <ul class="breadcrumb">
                <li><a href="#">Slider</a></li>
                <li class="active">Lsita de Slider</li>
            </ul>
        </div>
    </div>
</section>

<section id="contant" class="contant main-heading team">
    <div class="row">
        <div class="container">
            <div class="col-md-10">
                <div class="feature-post small-blog">
                    <div class="feature-img">
                        <h1> Lista de Sliders</h1>
                    </div>
                    <div class="feature-cont" style="padding: 15px;" ">
                        <table id="example" class="table table-striped table-bordered table-hover dataTable-items " style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Foto</th>                                    
                                    <th>Titulo</th>
                                    <th>Fecha</th>
                                    <th>Activo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var elemento in Model)
                                    {
                                        //DateTime fecha = DateTime.Now;
                                        //DateTime fecha = Convert.ToDateTime(elemento.Fecha);
                                        <tr>
                                            <td>@elemento.Id</td>
                                            <td class="text-left">
                                                <div class="banner">
                                                    @if (elemento.FotoUrl != null)
                                                    {
                                                        <img class="img-responsive" src="@Url.Content("~/images/slider/"+ elemento.FotoUrl)" alt="@elemento.Titulo">
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" src="@Url.Content("~/images/noticias_default.jpg")" alt="Noticias">
                                                    }

                                                </div>
                                            </td>
                                            <td class="text-left date">@elemento.Titulo</td>
                                            <td class="text-left ">@elemento.Fecha.ToString("dddd d MMMM yyyy")</td>
                                            <td>
                                                @if (elemento.Activo == elemento.Id)
                                                { <span class="btn btn-sm">Principal</span>}
                                                else
                                                { }                                                                                       
                                            </td>
                                            <td>
                                                @if (elemento.Activo == elemento.Id)
                                                {
                                                    <a href="@Url.Action("EditarSlider","Administrador", new { Id = elemento.Id})" class="btn btn-sm" alt="Editar"><i class="fa fa-edit"></i></a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("EditarSlider","Administrador", new { Id = elemento.Id})" class="btn btn-sm" alt="Editar"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("EliminarSlider","Administrador", new { Id = elemento.Id})" class="btn btn-sm"><i class="fa fa-close"></i></a>
                                                }

                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <h1>No Sliders</h1>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                @*<div class="blog-sidebar">
                        <div class="search-bar-blog">
                            <form>
                                <input type="text" placeholder="search" />
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>*@
                <div class="blog-sidebar">
                    <h4 class="heading">Slider</h4>

                    <div class="category-menu">
                        <a href="@Url.Action("CrearSlider","Administrador")" class="btn btn-block" style="margin-bottom:25px;"><i class="fa fa-pencil"></i> Agregar</a>
                        <a href="@Url.Action("Index","Administrador")" class="btn btn-block" style="margin-bottom:25px;"><i class="fa fa-arrow-circle-o-left"></i> Regresar</a>
                    </div>
                    <hr />
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
