@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Lista de Noticias - Administrador";
    DateTime fecha = DateTime.Now;
}
@section Head {
    @*<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">*@
    <style type="text/css">
        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #d8302f !important;
            border-color: #d8302f !important;
        }
    .dataTables_filter input {
            height:40px !important;
}
            .dataTables_filter input:focus{
            outline: none !important;
            border-color: #d8302f !important;
            box-shadow: 0 0 10px #d8302f !important;
        }
    </style>
}
<section id="top">
    <partial name="_Nav" />
    <div class="inner-page-banner">
        <div class="container">
        </div>
    </div>
    <div class="inner-information-text">
        <div class="container">
            <h3><i class="fa fa-user"></i> Administrador</h3>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Administrador")">Noticias</a></li>
                <li class="active">Lsita de Noticias</li>
            </ul>
        </div>
    </div>
</section>

<section id="contant" class="contant main-heading team">
    <div class="row">
        <div class="container">
            <div class="col-md-10">
                <div class="feature-post small-blog">
                    <div class="feature-img">
                        <h1> Lista de Noticias</h1>
                    </div>
                    <div class="feature-cont" style="padding: 15px;" >
                        <table id="example" class="table table-hover "  style="width:100%; border-bottom: 0px !important; border-top: 0px !important;">
                            <thead style="display:none">
                                <tr>
                                    <th>Id</th>
                                    <th>Noticia</th>
                                    <!--<th>Titulo</th>
                                    <th>Acciones</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var elemento in Model)
                                    {
                                        //DateTime fecha = DateTime.Now;
                                        //DateTime fecha = Convert.ToDateTime(elemento.Fecha);
                                        <tr>
                                            <td>@elemento.Id</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                     <div class="banner">
                                                    @if (elemento.FotoUrl != null)
                                                    {
                                                        <img class="img-responsive" src="@Url.Content("~/images/noticias/"+ elemento.FotoUrl)" alt="@elemento.Titulo">
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive" src="@Url.Content("~/images/noticias_default.jpg")" alt="@elemento.Titulo">
                                                    }

                                                </div>
                                                </div>
                                                <div class="col-md-8" style="text-align:left">
                                                <h4 style="text-align:left">@elemento.Titulo</h4>
                                                    <br />
                                                <span>
                                                    <label style="text-align:left;">Autor: <span style="color:#d8302f; font-weight:400">@elemento.Autor</span> </label><br />
                                                    <label style="text-align:left; font-weight:200">@elemento.Fecha.ToString("dddd d MMMM yyyy")</label>
                                                </span>
                                                    <br />
                                                <a href="@Url.Action("VerNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm" alt="Ver"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("EditarNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm" alt="Editar"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("EliminarNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm"><i class="fa fa-close"></i></a>
                                                </div>
                                                </div>
                                                
                                               
                                            </td>
                                            @*
                                            <td class="text-left">
                                                @elemento.Titulo<br />
                                                <span>
                                                    <label style="text-align:left;">Autor: <span style="color:#d8302f; font-weight:400">@elemento.Autor</span> </label><br />
                                                    <label style="text-align:left; font-weight:200">@elemento.Fecha.ToString("dddd d MMMM yyyy")</label>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("VerNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm" alt="Ver"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("EditarNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm" alt="Editar"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("EliminarNoticia","Home", new { Id = elemento.Id})" class="btn btn-sm"><i class="fa fa-close"></i></a>
                                            </td>
                                            *@
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <h1>No hay noticias</h1>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                @*<div class="blog-sidebar">
                        <div class="search-bar-blog">
                            <form>
                                <input type="text" placeholder="search" />
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>*@
                <div class="blog-sidebar">
                    <h4 class="heading">Noticia</h4>

                    <div class="category-menu">
                        <a href="@Url.Action("CrearNoticia","Home")" class="btn btn-block" style="margin-bottom:25px;"><i class="fa fa-pencil"></i> Agregar</a>
                        <a href="@Url.Action("Index","Administrador")" class="btn btn-block" style="margin-bottom:25px;"><i class="fa fa-arrow-circle-o-left"></i> Regresar</a>
                    </div>
                    <hr />
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {

    @*<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>*@

<script type="text/javascript">
    $('#example').dataTable({
        //"searching": false,
        "bLengthChange": false,
        //"bInfo": false, //Esta esconde la cantidad de info que hay en la parte de abajo
        "pageLength": 10, //Numero de registros a mostrar
        "order": [[1, "desc"]],
        "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }]
    });
</script>
}